html {
  touch-action: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #faf8ef;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  margin: auto;
  /* font-family: "Courier New", sans-serif; */
  font-family: "Rumiko", sans-serif;
  font-size: 1rem;
  color: #241969;
  touch-action: none;
  line-height: 18px;
}

input[type=range] {
  height: 5px;
  width: 40%;
  margin-left: auto;
}

input[type=range]::-webkit-slider-thumb {
  height: 1px;
  cursor: grab;
}

.displayChildOnHover:hover {
  background-color: rgba(100, 100, 100, 0.2);
}
.displayChildOnHover:hover > .hidden {
  display: block;
}
.hidden {
  display: none;
}

textarea {
  /* all: unset; */
  color: inherit;
  font-size: 1rem;
}

button {
  font-family: "Rumiko", sans-serif;
}

h2, h3 {
  margin: 0;
}

p {
  margin-top: 0;
}

h1, h2 {
  text-align: center;
}

