html {
  touch-action: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #faf8ef;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  margin: auto;
  /* font-family: "Courier New", sans-serif; */
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-weight: 300;
  touch-action: none;
}

input[type=range] {
  height: 5px;
  width: 40%;
  margin-left: auto;
}

input[type=range]::-webkit-slider-thumb {
  height: 1px;
  cursor: grab;
}

.displayChildOnHover:hover {
  background-color: rgba(100, 100, 100, 0.2);
}
.displayChildOnHover:hover > .hidden {
  display: block;
}
.hidden {
  display: none;
}

textarea {
  /* all: unset; */
}

button {
  font-family: "Courier New", sans-serif;
}

